# Práctica de Data Cleaning

In [2]:
import pandas as pd

## Objetivo

El objetivo de este ejercicio es aplicar técnicas de **limpieza de datos** en Pandas.

Este ejercicio cubre la manipulación de strings (utilizando métodos de strings), el uso de expresiones regulares, la importancia de la limpieza y la conversión a `datetime`

## Contexto del Conjunto de Datos

Hemos cargado un DataFrame que contiene información de Presidentes de EE. UU. La columna `'Born'` (Nacimiento) contiene la fecha y, entre paréntesis, la ciudad o ubicación, como por ejemplo: `February 22, 1732[b] (Westmoreland County, Virginia)`.

## Instrucciones

- De la columna `'President'` Crea una columna para el nombre 'firstname' y otra para el apellido (lastname) de los presidentes eliminando la referencias a las notas al pie que encuentres. Puedes utilizar un patron de Regular Expression para realizar esta tarea
- La columna `'Born'` contiene referencias entre corchetes (ej. `[b]`) y texto adicional entre paréntesis (ej. `(Westmoreland County, Virginia)`). Debemos eliminar todo este texto para quedarnos solo con la fecha limpia.
- Convierte la columna `'Born'` al Tipo `datetime`
- Extrae de la columna  `'Born'` el año de nacimiento y genera una nueva columna denominada `'Year Born'`

In [3]:
df = pd.read_csv("../data/presidents.csv")

df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"

In [10]:
df[['Firstname', 'Lastname']] = df['President'].str.split(' ', n=1, expand=True)
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,firstname,lastname,Firstname,Lastname
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington,George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams,John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson,Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison,James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe,James,Monroe

In [12]:
df['Born'] = df['Born'].str.replace(r'\[.*?\]', '', regex=True)
df['Born'] = df['Born'].str.replace(r'\(.*?\)', '', regex=True)
df['Born'] = df['Born'].str.strip()
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,firstname,lastname,Firstname,Lastname
0,1,George Washington,"Feb 22, 1732","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington,George,Washington
1,2,John Adams,"Oct 30, 1735","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams,John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson,Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison,James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe,James,Monroe

In [13]:
df['Born'] = pd.to_datetime(df['Born'], errors='coerce')

In [14]:
df['Year Born'] = df['Born'].dt.year

In [15]:
df

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,firstname,lastname,Firstname,Lastname,Year Born
0,1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington,George,Washington,1732
1,2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams,John,Adams,1735
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson,Thomas,Jefferson,1743
3,4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison,James,Madison,1751
4,5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe,James,Monroe,1758
5,6,John Quincy Adams,1767-07-11,"57 years, 236 daysMar 4, 1825","61 years, 236 daysMar 4, 1829","18 years, 356 days","Feb 23, 1848","80 years, 227 days",John,Quincy Adams,John,Quincy Adams,1767
6,7,Andrew Jackson,1767-03-15,"61 years, 354 daysMar 4, 1829","69 years, 354 daysMar 4, 1837","8 years, 96 days","Jun 8, 1845","78 years, 85 days",Andrew,Jackson,Andrew,Jackson,1767
7,8,Martin Van Buren,1782-12-05,"54 years, 89 daysMar 4, 1837","58 years, 89 daysMar 4, 1841","21 years, 142 days","Jul 24, 1862","79 years, 231 days",Martin,Van Buren,Martin,Van Buren,1782
8,9,William H. Harrison,1773-02-09,"68 years, 23 daysMar 4, 1841","68 years, 54 days Apr 4, 1841[b]",NaN,"Apr 4, 1841","68 years, 54 days",William,H. Harrison,William,H. Harrison,1773
9,10,John Tyler,1790-03-29,"51 years, 6 daysApr 4, 1841","54 years, 340 daysMar 4, 1845","16 years, 320 days","Jan 18, 1862","71 years, 295 days",John,Tyler,John,Tyler,1790
10,11,James K. Polk,1795-11-02,"49 years, 122 daysMar 4, 1845","53 years, 122 daysMar 4, 1849",103 days,"Jun 15, 1849","53 years, 225 days",James,K. Polk,James,K. Polk,1795
11,12,Zachary Taylor,1784-11-24,"64 years, 100 daysMar 4, 1849","65 years, 227 daysJul 9, 1850[b]",NaN,"Jul 9, 1850","65 years, 227 days",Zachary,Taylor,Zachary,Taylor,1784
12,13,Millard Fillmore,1800-01-07,"50 years, 183 daysJul 9, 1850","53 years, 56 daysMar 4, 1853","21 years, 4 days","Mar 8, 1874","74 years, 60 days",Millard,Fillmore,Millard,Fillmore,1800
13,14,Franklin Pierce,1804-11-23,"48 years, 101 daysMar 4, 1853","52 years, 101 daysMar 4, 1857","12 years, 218 days","Oct 8, 1869","64 years, 319 days",Franklin,Pierce,Franklin,Pierce,1804
14,15,James Buchanan,1791-04-23,"65 years, 315 daysMar 4, 1857","69 years, 315 daysMar 4, 1861","7 years, 89 days","Jun 1, 1868","77 years, 39 days",James,Buchanan,James,Buchanan,1791
15,16,Abraham Lincoln,1809-02-12,"52 years, 20 daysMar 4, 1861","56 years, 62 daysApr 15, 1865[b]",NaN,"Apr 15, 1865","56 years, 62 days",Abraham,Lincoln,Abraham,Lincoln,1809
16,17,Andrew Johnson,1808-12-29,"56 years, 107 daysApr 15, 1865","60 years, 65 daysMar 4, 1869","6 years, 149 days","Jul 31, 1875","66 years, 214 days",Andrew,Johnson,Andrew,Johnson,1808
17,18,Ulysses S. Grant,1822-04-27,"46 years, 311 daysMar 4, 1869","54 years, 311 daysMar 4, 1877","8 years, 141 days","Jul 23, 1885","63 years, 87 days",Ulysses,S. Grant,Ulysses,S. Grant,1822
18,19,Rutherford B. Hayes,1822-10-04,"54 years, 151 daysMar 4, 1877","58 years, 151 daysMar 4, 1881","11 years, 319 days","Jan 17, 1893","70 years, 105 days",Rutherford,B. Hayes,Rutherford,B. Hayes,1822
19,20,James A. Garfield,1831-11-19,"49 years, 105 daysMar 4, 1881","49 years, 304 daysSep 19, 1881[b]",NaN,"Sep 19, 1881","49 years, 304 days",James,A. Garfield,James,A. Garfield,1831
20,21,Chester A. Arthur,1829-10-05,"51 years, 349 daysSep 19, 1881","55 years, 150 daysMar 4, 1885","1 year, 259 days","Nov 18, 1886","57 years, 44 days",Chester,A. Arthur,Chester,A. Arthur,1829
21,22,Grover Cleveland,1837-03-18,"47 years, 351 daysMar 4, 1885","51 years, 351 daysMar 4, 1889","4 years, 0 days[c]","Jun 24, 1908","71 years, 98 days",Grover,Cleveland,Grover,Cleveland,1837
22,23,Benjamin Harrison,1833-08-20,"55 years, 196 daysMar 4, 1889","59 years, 196 daysMar 4, 1893","8 years, 9 days","Mar 13, 1901","67 years, 205 days",Benjamin,Harrison,Benjamin,Harrison,1833
23,24,Grover Cleveland,1837-03-18,"55 years, 351 daysMar 4, 1893","59 years, 351 daysMar 4, 1897","11 years, 112 days[d]","Jun 24, 1908","71 years, 98 days",Grover,Cleveland,Grover,Cleveland,1837
24,25,William McKinley,1843-01-29,"54 years, 34 daysMar 4, 1897","58 years, 228 daysSep 14, 1901[b]",NaN,"Sep 14, 1901","58 years, 228 days",William,McKinley,William,McKinley,1843
25,26,Theodore Roosevelt,1858-10-27,"42 years, 322 daysSep 14, 1901","50 years, 128 daysMar 4, 1909","9 years, 308 days","Jan 6, 1919","60 years, 71 days",Theodore,Roosevelt,Theodore,Roosevelt,1858
26,27,William H. Taft,1857-09-15,"51 years, 170 daysMar 4, 1909","55 years, 170 daysMar 4, 1913","17 years, 4 days","Mar 8, 1930","72 years, 174 days",William,H. Taft,William,H. Taft,1857
27,28,Woodrow Wilson,1856-12-28,"56 years, 66 daysMar 4, 1913","64 years, 66 daysMar 4, 1921","2 years, 336 days","Feb 3, 1924","67 years, 37 days",Woodrow,Wilson,Woodrow,Wilson,1856
28,29,Warren G. Harding,1865-11-02,"55 years, 122 daysMar 4, 1921","57 years, 273 daysAug 2, 1923[b]",NaN,"Aug 2, 1923","57 years, 273 days",Warren,G. Harding,Warren,G. Harding,1865
29,30,Calvin Coolidge,1872-07-04,"51 years, 29 daysAug 2, 1923","56 years, 243 daysMar 4, 1929","3 years, 307 days","Jan 5, 1933","60 years, 185 days",Calvin,Coolidge,Calvin,Coolidge,1872
30,31,Herbert Hoover,1874-08-10,"54 years, 206 daysMar 4, 1929","58 years, 206 daysMar 4, 1933","31 years, 230 days","Oct 20, 1964","90 years, 71 days",Herbert,Hoover,Herbert,Hoover,1874
31,32,Franklin D. Roosevelt,1882-01-30,"51 years, 33 daysMar 4, 1933","63 years, 72 daysApr 12, 1945[b]",NaN,"Apr 12, 1945","63 years, 72 days",Franklin,D. Roosevelt,Franklin,D. Roosevelt,1882
32,33,Harry S. Truman,1884-05-08,"60 years, 339 daysApr 12, 1945","68 years, 257 daysJan 20, 1953","19 years, 341 days","Dec 26, 1972","88 years, 232 days",Harry,S. Truman,Harry,S. Truman,1884
33,34,Dwight D. Eisenhower,1890-10-14,"62 years, 98 daysJan 20, 1953","70 years, 98 daysJan 20, 1961","8 years, 67 days","Mar 28, 1969","78 years, 165 days",Dwight,D. Eisenhower,Dwight,D. Eisenhower,1890
34,35,John F. Kennedy,1917-05-29,"43 years, 236 daysJan 20, 1961","46 years, 177 daysNov 22, 1963[b]",NaN,"Nov 22, 1963","46 years, 177 days",John,F. Kennedy,John,F. Kennedy,1917
35,36,Lyndon B. Johnson,1908-08-27,"55 years, 87 daysNov 22, 1963","60 years, 146 daysJan 20, 1969","4 years, 2 days","Jan 22, 1973","64 years, 148 days",Lyndon,B. Johnson,Lyndon,B. Johnson,1908
36,37,Richard Nixon,1913-01-09,"56 years, 11 daysJan 20, 1969","61 years, 212 daysAug 9, 1974[e]","19 years, 256 days","Apr 22, 1994","81 years, 103 days",Richard,Nixon,Richard,Nixon,1913
37,38,Gerald Ford,1913-07-14,"61 years, 26 daysAug 9, 1974","63 years, 190 daysJan 20, 1977","29 years, 340 days","Dec 26, 2006","93 years, 165 days",Gerald,Ford,Gerald,Ford,1913
38,39,Jimmy Carter,1924-10-01,"52 years, 111 daysJan 20, 1977","56 years, 111 daysJan 20, 1981","38 years, 175 days",(living),"94 years, 286 days",Jimmy,Carter,Jimmy,Carter,1924
39,40,Ronald Reagan,1911-02-06,"69 years, 349 daysJan 20, 1981","77 years, 349 daysJan 20, 1989","15 years, 137 days","Jun 5, 2004","93 years, 120 days",Ronald,Reagan,Ronald,Reagan,1911
40,41,George H. W. Bush,1924-06-12,"64 years, 222 daysJan 20, 1989","68 years, 222 daysJan 20, 1993","25 years, 314 days","Nov 30, 2018","94 years, 171 days",George,H. W. Bush,George,H. W. Bush,1924
41,42,Bill Clinton,1946-08-19,"46 years, 154 daysJan 20, 1993","54 years, 154 daysJan 20, 2001","18 years, 175 days",(living),"72 years, 329 days",Bill,Clinton,Bill,Clinton,1946
42,43,George W. Bush,1946-07-06,"54 years, 198 daysJan 20, 2001","62 years, 198 daysJan 20, 2009","10 years, 175 days",(living),"73 years, 8 days",George,W. Bush,George,W. Bush,1946
43,44,Barack Obama,1961-08-04,"47 years, 169 daysJan 20, 2009","55 years, 169 daysJan 20, 2017","2 years, 175 days",(living),"57 years, 344 days",Barack,Obama,Barack,Obama,1961